.conjunto {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  height: 300px;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 1rem;
}

.card span {
}
.card img {
  width: 100%;
}
